name: Sphinx Docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  Documentation:
    name: "Build and deploy Documentation"

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install --upgrade --upgrade-strategy "eager" .[docs]

      - name: Build docs
        run: sphinx-build -b html ./docs/source ./docs/build/html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_branch: github-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/html
        if: github.event_name != 'pull_request'

      - name: Save Documentation
        uses: actions/upload-artifact@v5
        with:
          name: Documentation
          path: docs/build/html/
